.ipynb_checkpoints/
*.pyc
$*
/fitter/__pycache__/
/notes/*.aux
/notes/*.bbl
/notes/*.bcf
/notes/*.blg
/notes/*.fls
/notes/*.gz
/notes/*.log
/notes/*.out
/notes/*.pdf
/notes/*.xml
/notes/*.yaml
notes/*.fdb_latexmk
/notes/notesNotes.bib
/tmp/*
notes/notes.fdb_latexmk
data/callat_mdwf_hisq_scale_correlators.h5
